<%- include('../partials/header') %>
<h1>Show</h1>
<h3><%= flight.airline %></h3>
<h3><%= flight.airport %></h3>
<h3><%= flight.flightNo %></h3>
<h3><%= flight.departs %></h3>

<!-- <form action="/flights/ <%= flight._id %>/destination" method="POST">
    <label> Airport </label>
    <textarea name="content"></textarea>
    <label>arrival</label>
    <select name="Date" id="">
        <option value=""></option>
    </select>
</form> -->


<br><br><h2>Add destination</h2>
<form method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>arrival:</label>
      <input type="datetime-local"  value="arrival">
      <input type="submit" value="Add Arrival">
</form>

<% if (flight.destinations.length) { %>
    <table>
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>


<%- include('../partials/footer') %>